*{
    padding : 0px;
    margin : 0px;
    }

.navContainer {
    height: 50px;
    background-color: black;
    position: relative;
    display : flex;
    align-items : center;
    
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
    color : black;
  }




.email{
    height:93vh;
    background-image: url("source/night.jpg");
    background-repeat: no-repeat;
    background-position: 60% 50%;
    background-size: cover;
    /* background-color:pink; */
   position: relative;
  
}

.emailColumn{
    position: absolute;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 25vw;
    border : 1px solid black;
    height: 50vh;
    background : white;
    left: 38%;
    padding: 10px;
    top: 90px;
    display : flex;
    align-items: center;
    flex-direction: column;
   
}
.confirm{
  position: absolute;
  width: 130px;
  left: 78px;
  top: 200px;
  border-radius:25px;
  border : none;
  color : black;
  padding : 10px;
  
}
#confirm:hover{
  background-color : black;
  color : white;
  
}



.input-group{
  padding: 5px;
  margin : 10px 10px;

}
.emailColumn span{
  margin : 10px 10px;
}
#checkbox{
  position: absolute;
  margin : 10px 2px;
  left: 87px;
top: 111px;
  
  
}
.form-group{
  position: absolute;
  margin : 10px 10px;
  left: 55px;
right: auto;
top: 50px;
}
label{
  position: absolute;
  left: 113px;
  top: 115px;
}
